{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show">
    <strong>Error!</strong> {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <h3 class="mb-5">Registro</h3>
    
                <div class="form-outline mb-4">
                    {{form.as_p}}
                </div>
                <button class="btn btn-success" type="submit">Registrarse</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</form>
{% endblock %}